<div class="center jumbotron">
  <h1>Welcome to the Nanny App</h1>

  <h2>
The Application that makes you voluntarily give away your children to total strangers
  </h2>

  <%= link_to "Jetzt hier registrieren!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("Peter2.jpg", alt: "Rails logo"),
            'http://rubyonrails.org/' %>