<footer class="footer">
  <small>
Emergency Nanny - Providing the "WHO?!" in "Who kidnapped my child?!" since 2017
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>